/* -------------------------
name: MESH
author: Edgaar + SokoTech
ver: 0.1
------------------------- */

/* ----- colors ------------

dark-gray: #191919
light-gray: #CCCCCC

------------------------- */

/* ----- general -------- */

/* ----- header --------- */

/* ----- navigation ----- */



/* ----- home ----------- */

/* ----- pages ---------- */

/* ----- footer --------- */
